setuptools
big-fish
cellpose==2.2.2
cloudpickle
dask
distributed
fastapi
fpdf
joblib
joypy
keras
matplotlib
matplotlib-scalebar
numpy
opencv-python
pandas==1.5.3
Pillow
pycromanager==0.27.5
pyserial
pysmb
requests
requests-oauthlib
schedule
scikit-image
scikit-learn
scipy
torch
uvicorn
seaborn
